:root {
  --clr-floss: #fefee6;
  --clr-zing: #ed6c2d;
  --clr-bubble-yum: #f090b3;
  --clr-moss: #235538;

  --default-font: "Montserrat Alternates", sans-serif;
  --paragraph-font: "Montserrat", sans-serif;

  --fs-xl: clamp(50px, 5vw, 70px);
  --fs-900: 60px;
  --fs-800: 40px;
  --fs-500: 25px;
  --fs-400: 20px;
}

@media (max-width: 576px) {
  :root {
    --fs-900: 30px;
    --fs-800: 25px;
    --fs-500: 20px;
    --fs-400: 16px;
  }
}

body {
  font-family: var(--default-font);
}

.container {
  max-width: 1440px !important;
}

.index,
.liquid-bodies {
  background-color: var(--clr-floss);
  color: var(--clr-moss);
}

.about,
.work {
  color: var(--clr-floss);
}

.about {
  background-color: var(--clr-bubble-yum);
}

.work {
  background-color: var(--clr-moss);
}

.contact {
  background-color: var(--clr-zing);
  color: var(--clr-floss);
}

h1 {
  font-size: var(--fs-xl);
  font-weight: 700;
}

h2,
p {
  font-size: var(--fs-900);
  font-weight: 700;
}

p {
  line-height: normal;
}

h4 {
  font-size: var(--fs-500);
}

h3 {
  margin-bottom: 2px;
}

a {
  font-size: var(--fs-400);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--clr-moss);
}

ul {
  display: block;
  padding: 0;
}

li {
  list-style: none;
  font-size: 20px;
  max-width: 330px;
  margin-bottom: 0.5rem;
}

nav {
  margin: 50px 50px 0 0;
}

.logo {
  height: 50%;
  width: auto;
}

.logo,
.logo-small {
  margin-left: 50px;
}

.home-nav-links li,
.work-nav-links li,
.about-nav-links li,
.contact-nav-links li,
footer li {
  display: inline;
  text-transform: uppercase;
  line-height: 60px;
  padding: 25px;
}

footer ul {
  text-align: center;
}

nav a:hover,
footer a:hover {
  font-weight: 600;
  transition: 0.25s ease-in-out;
}

nav li.active a {
  font-weight: 700;
}

.work-nav-links a,
.about-nav-links a,
.contact-nav-links a,
.about-footer a {
  color: var(--clr-floss);
}

footer {
  margin: 0 50px 80px 50px;
}

.hero-section {
  font-size: var(--fs-xl);
  margin: 180px 50px 320px 50px;
}

.work-section {
  margin: 0px 50px 100px 50px;
}

.about-intro {
  font-size: var(--fs-xl);
  margin: 180px 50px 250px 50px;
}

.hero-section {
  color: var(--clr-zing);
}

.about-intro {
  color: var(--clr-floss);
}

.hero-section,
.about-intro {
  max-width: 800px;
}

.hero-section a {
  font-size: var(--fs-xl);
  color: var(--clr-zing);
  text-transform: none;
  font-weight: 700;
}

.hero-section a:hover {
  color: var(--clr-bubble-yum);
}

.about-description-title {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}

.home-project-section,
.home-testimonial-section,
.about-description {
  margin: 0 50px 320px 50px;
}

.home-project-section,
.home-cta,
.about-cta,
.contact-cta {
  display: block;
  text-align: center;
}

.hp-project-wrapper {
  position: relative;
}

.followMouse {
  position: absolute;
  z-index: -1;
}

.home-project-section h2 {
  margin-bottom: 100px;
}

.home-project-title a,
h3 {
  color: var(--clr-zing);
  text-transform: uppercase;
  font-size: var(--fs-800);
  font-weight: 600;
  line-height: 40px;
}

.project-intro h3 {
  color: var(--clr-moss);
}

h3 {
  color: var(--clr-floss);
}

.home-project-links {
  padding-top: 50px;
}

.link-to-work {
  max-width: 180px;
  padding-top: 50px;
  margin: 0 auto;
}

.quote {
  color: var(--clr-zing);
}

.home-cta a,
.about-cta a,
.contact-cta a {
  font-size: var(--fs-800);
  font-weight: 500;
  padding: 30px 0 30px 0;
  margin: 30px 0 150px 0;
}

.home-cta a {
  color: var(--clr-floss);
  background-color: var(--clr-zing);
}

.about-cta a {
  color: var(--clr-bubble-yum);
  background-color: var(--clr-floss);
}

.contact-cta a {
  color: var(--clr-zing);
  background-color: var(--clr-floss);
}

.contact-cta {
  margin-top: 300px;
}

.about-img {
  display: block;
  position: absolute;
  top: 65px;
  left: 155px;
  z-index: -1;
  max-width: 1000px;
  border-radius: 16px;
}

.link-to-work-aboutp {
  display: block;
  position: absolute;
  top: 42px;
  left: 900px;
  max-width: 180px;
}

.about-intro,
.img-wrapper {
  position: relative;
}

.project-img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.project-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(240, 144, 179, 0.8);
  color: var(--clr-floss);
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  opacity: 0;
}

.project-img-overlay:hover {
  opacity: 1;
  transition: 0.25s ease-in-out;
}

.project-img-blur {
  backdrop-filter: blur(3px);
}

.project-title {
  margin-top: 80px;
}

.project-title,
.project-description {
  margin-left: 50px;
}

.project-description {
  text-transform: lowercase;
}

.sm-screen-title {
  visibility: hidden;
    max-height: 0;
}

.project-wrapper {
  margin: 180px 50px 100px 50px;
}

.project-blurb-wrapper {
  margin-bottom: 50px;
  max-width: 500px;
}

.project-blurb {
  font-size: var(--fs-400);
  font-weight: 400;
  line-height: 1.3;
  padding-bottom: 3px;
}

.deliverables {
  text-transform: uppercase;
  margin: 30px 0 250px 0;
  font-weight: 600;
}

.deliverables li {
  font-size: 18px;
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .about-img {
    top: 65px;
    left: -40px;
    max-width: 790px;
    border-radius: 16px;
  }

  .link-to-work-aboutp {
    top: 545px;
    left: 0px;
  }
}

@media (max-width: 992px) {
  .cta-add-on {
    display: none;
  }

  .portrait {
    visibility: hidden;
    max-height: 0;
  }

  .project-blurb-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .deliverables {
    margin-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .home-nav-links li,
  .work-nav-links li,
  .about-nav-links li,
  .contact-nav-links li {
    display: flex;
    flex-direction: column;
    text-align: right;
    text-transform: uppercase;
    line-height: 8px;
    padding: 15px;
  }

  .link-to-work-aboutp {
    display: none;
  }

  .project-title {
    margin-top: 30px;
  }

  .project-title,
  .project-description {
    margin-left: 30px;
  }
}

@media (max-width: 576px) {
  .nav {
    margin-right: 15px;
  }

  .logo-small {
    margin-left: 15px;
    padding-left: 0;
  }

  .hero-section,
  .home-project-section,
  .home-testimonial-section,
  .about-intro,
  .about-description {
    margin: 0 15px 200px 15px;
  }

  .project-wrapper {
    margin: 0 15px 0 15px;
  }

  .hero-section h1,
  .hero-section a,
  .about-intro {
    font-size: 40px;
  }

  .hero-section,
  .about-intro {
    padding-top: 100px;
    max-width: 280px;
  }

  .home-project-section h2 {
    margin-bottom: 60px;
  }

  .home-project-title {
    margin-bottom: 0;
  }

  .about-intro {
    margin-bottom: 100px;
  }

  .about-img {
    top: 65px;
    left: -40px;
    max-width: 600px;
    border-radius: 16px;
  }

  .work-section {
    margin: 8px 15px 15px 15px;
  }

   .project-img {
      border-radius: 5px;
    }

  .project-img-overlay {
  display: none;
  max-height: 0;
}

.sm-screen-title {
  visibility: visible;
  margin: 8px 0 20px 8px;
  text-align: right;
  max-height: 100%;
}

.project-title h3 {
  margin: 0;
}


  .home-cta a,
  .about-cta a,
  .contact-cta a {
    margin: 30px 0 80px 0;
  }

  footer li a {
    font-size: 16px;
  }

  footer {
    margin: 0 15px 15px 15px;
  }
}
