:root {
    --clr-floss: #FEFEE6;
    --clr-zing: #ED6C2D;
    --clr-bubble-yum: #F090B3;
    --clr-moss: #235538;

    --fs-xl: clamp(50px, 5vw ,80px);
    --fs-900: 60px;
    --fs-800: 40px;
    --fs-500: 25px;

}

@media(max-width: 576px) {
    :root {
        --fs-900: 40px;
    }
}


body {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: var(--clr-floss);
    color: var(--clr-moss);
}

h1, h2, p {
    font-size: var(--fs-900);
    font-weight: 700;
}

h4, a {
    font-size: var(--fs-500);
}

p {
    line-height: normal;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--clr-moss);
}

.hero-section h1{
    max-width: 800px;
    font-size: var(--fs-xl);
    padding: 300px 0 320px 0px;
    color: var(--clr-zing);
}

.project-section, .testimonial-section {
    padding: 0 0 320px 0;
}

.project-section, .cta {
    display: block;
    text-align: center;
}

.project-section h1 {
    text-transform: uppercase;
    line-height: 60px;
    padding: 0 0 50px 0;
}

.project-title a {
    color: var(--clr-zing);
    text-transform: uppercase;
    font-size: var(--fs-800);
    font-weight: 600;
    line-height: 40px;
}

.project-links {
    padding-top: 50px;
}

.quote {
    color: var(--clr-zing);
}

.cta a {
    color: var(--clr-floss);
    background-color: var(--clr-zing);
    font-size: var(--fs-800);
    font-weight: 500;
    padding: 40px 0 40px 0;
    margin: 87px 0 70px 0;
}


