:root {
    --clr-floss: #FEFEE6;
    --clr-zing: #ED6C2D;
    --clr-bubble-yum: #F090B3;
    --clr-moss: #235538;

    --default-font: 'Montserrat Alternates',
        sans-serif;

    --fs-xl: clamp(50px, 5vw ,80px);
    --fs-900: 60px;
    --fs-800: 40px;
    --fs-500: 25px;

}

@media(max-width: 576px) {
    :root {
        --fs-900: 40px;
    }

}

.index {
    font-family: var(--default-font);
    background-color: var(--clr-floss);
    color: var(--clr-moss);
}

.about {
    font-family: var(--default-font);
    background-color: var(--clr-bubble-yum);
    color: var(--clr-floss);
}

h1, h2, p {
    font-size: var(--fs-900);
    font-weight: 700;
}

h4, a {
    font-size: var(--fs-500);
}

p {
    line-height: normal;
}


ul {
    display: block;
    padding: 0;
}

li {
    list-style: none;
    font-size: 20px;
    max-width: 280px;
    margin-bottom: 0.5rem;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--clr-moss);
}

.hero-section h1,
.link-hero-debbie-to-about,
.about-intro{
    font-size: var(--fs-xl);
    padding: 300px 0 320px 0px;
}

.hero-section {
    color: var(--clr-zing);
    max-width: 800px;
}

.link-hero-debbie-to-about {
    color: var(--clr-zing);
    text-transform: none;
}

.link-hero-debbie-to-about:hover {
    color: var(--clr-bubble-yum);
}

.about-intro {
    color: var(--clr-floss);
    max-width: 900px;
}

.about-description-title {
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
}

.home-project-section, 
.home-testimonial-section,
.about-description {
    padding: 0 0 320px 0;
}

.home-project-section, 
.home-cta,
.about-cta {
    display: block;
    text-align: center;
}

.home-project-section h1 {
    text-transform: uppercase;
    line-height: 60px;
    padding: 0 0 50px 0;
}

.home-project-title a {
    color: var(--clr-zing);
    text-transform: uppercase;
    font-size: var(--fs-800);
    font-weight: 600;
    line-height: 40px;
}


.home-project-links {
    padding-top: 50px;
}

.quote {
    color: var(--clr-zing);
}

.home-cta a {
    color: var(--clr-floss);
    background-color: var(--clr-zing);
    font-size: var(--fs-800);
    font-weight: 500;
    padding: 40px 0 40px 0;
    margin: 87px 0 70px 0;
}

.about-cta a {
    color: var(--clr-bubble-yum);
    background-color: var(--clr-floss);
    font-size: var(--fs-800);
    font-weight: 500;
    padding: 40px 0 40px 0;
    margin: 87px 0 70px 0;

}

.about-img {
    position: absolute;
    display: flex;
    top: 515px;
    left: 340px;
    width: 70%;
    height: auto;
    z-index: -2;
    overflow: hidden;
}


@media (max-width: 992px) {
    .cta-add-on {
        display: none;
    }

    .about-img {
        left: 0px;
        min-width: 560px;
        z-index: -2;
        overflow: hidden;
        }

}

@media (max-width: 576px) {
    .hero-section h1, 
    .home-project-section,
    .home-testimonial-section, 
    .about-description {
        padding-bottom: 230px;
    }

    .hero-section h1,
    .about-intro  {
        padding-top: 200px;
        max-width: 345px;
    }

    .about-intro {
        padding-bottom: 150px;
        
    }

    .about-img {
        left: 0px;
        min-width: 560px;
        z-index: -2;
        overflow: hidden;
    }
}

